## With love from podicus!

In [1]:
import pandas as pd

In [4]:
pd.__version__

'0.17.1'

In [5]:
!pip freeze

abstract-rendering==0.5.1
alabaster==0.7.6
anaconda-client==1.2.1
argcomplete==1.0.0
astropy==1.0.6
Babel==2.1.1
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.8.3
bokeh==0.10.0
boto==2.38.0
Bottleneck==1.0.0
cffi==1.2.1
clyent==1.2.0
colorama==0.3.3
conda==3.18.9
conda-build==1.18.2
conda-env==2.4.5
configobj==5.0.6
cryptography==0.9.3
cycler==0.9.0
Cython==0.23.4
cytoolz==0.7.4
datashape==0.4.7
decorator==4.0.4
docutils==0.12
dynd==9b63882
fastcache==1.0.2
Flask==0.10.1
greenlet==0.4.9
h5py==2.5.0
idna==2.0
ipykernel==4.1.1
ipython==4.0.1
ipython-genutils==0.1.0
ipywidgets==4.1.0
itsdangerous==0.24
jdcal==1.0
jedi==0.9.0
Jinja2==2.8
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
llvmlite==0.8.0
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.5.0
mistune==0.7.1
multipledispatch==0.4.8
nbconvert==4.0.0
nbformat==4.0.1
networkx==1.10
nltk==3.1
nose==1.3.7
notebook==4.0.6
numba==0.22.1
numexpr==2.4.4
numpy==1.10.1
odo==0.3.4
openpyxl==2.2.6
pandas==0.17.1
path.py==0.0.0
patsy==0.4.0
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
Pillow==3.0.0
ply==3.8
psutil==3.3.0
ptyprocess==0.5
py==1.4.30
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.1
pyflakes==1.0.0
Pygments==2.0.2
pyOpenSSL==0.15.1
pyparsing==2.0.3
pytest==2.8.1
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.1.1
redis==2.10.3
requests==2.8.1
rope-py3k==0.9.4.post1
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.16.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.0
sockjs-tornado==1.0.1
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
spyder==2.3.8
SQLAlchemy==1.0.9
statsmodels==0.6.1
sympy==0.7.6.1
tables==3.2.2
terminado==0.5
Theano==0.7.0
toolz==0.7.4
tornado==4.3
traitlets==4.0.0
ujson==1.33
unicodecsv==0.14.1
Werkzeug==0.11.2
wheel==0.26.0
xlrd==0.9.4
XlsxWriter==0.7.7
xlwt==1.0.0

In [6]:
!ls

0-Intro.ipynb	 5-Insight.ipynb  LICENSE		  Untitled1.ipynb
1-Acquire.ipynb  AnalysisR.ipynb  map.html		  Untitled.ipynb
2-Refine.ipynb	 data		  README.md
3-Explore.ipynb  data.json	  requirements_linux.txt
4-Model.ipynb	 img		  requirements.txt

In [13]:
## read the data.
weed = pd.read_csv("data/Weed_Price.csv", index_col=0)

In [16]:
weed.head

<bound method NDFrame.head of                        HighQ  HighQN    MedQ  MedQN    LowQ  LowQN        date
State
Alabama               339.06    1042  198.64    933  149.49    123  2014-01-01
Alaska                288.75     252  260.60    297  388.58     26  2014-01-01
Arizona               303.31    1941  209.35   1625  189.45    222  2014-01-01
Arkansas              361.85     576  185.62    544  125.87    112  2014-01-01
California            248.78   12096  193.56  12812  192.92    778  2014-01-01
Colorado              236.31    2161  195.29   1728  213.50    128  2014-01-01
Connecticut           347.90    1294  273.97   1316  257.36     91  2014-01-01
Delaware              373.18     347  226.25    273  199.88     34  2014-01-01
District of Columbia  352.26     433  295.67    349  213.72     39  2014-01-01
Florida               306.43    6506  220.03   5237  158.26    514  2014-01-01
Georgia               332.21    3099  213.52   2269  153.45    229  2014-01-01
Hawaii                310.96     328  270.38    350  160.46     25  2014-01-01
Idaho                 276.05     315  254.96    445  132.61     20  2014-01-01
Illinois              359.74    4008  287.23   3644  181.25    329  2014-01-01
Indiana               336.80    1665  206.24   1446  154.05    248  2014-01-01
Iowa                  371.70     697  292.34    649  252.24    103  2014-01-01
Kansas                353.51     838  260.97    628  124.27    109  2014-01-01
Kentucky              337.33    1013  183.17    986  120.31    132  2014-01-01
Louisiana             377.71    1071  243.26    864  153.73    224  2014-01-01
Maine                 321.10     450  259.18    425  214.80     52  2014-01-01
Montana               279.73     585  257.98    258  734.65     22  2014-01-01
Nebraska              352.64     508  247.03    510  142.99     62  2014-01-01
Nevada                269.61     899  218.67    928  231.08     61  2014-01-01
New Hampshire         366.47     422  289.81    441  561.05     38  2014-01-01
New Jersey            354.91    2244  294.39   2799  225.62    185  2014-01-01
New Mexico            293.86     565  216.55    434   63.70     42  2014-01-01
New York              351.98    5800  268.88   5824  190.38    482  2014-01-01
North Carolina        355.88    2775  247.26   1911  152.09    226  2014-01-01
North Dakota          412.84     137  361.95    200  269.55     13  2014-01-01
Ohio                  336.63    3050  212.44   2817  168.87    399  2014-01-01
...                      ...     ...     ...    ...     ...    ...         ...
Nebraska              335.65     695  246.11    722     NaN     76  2014-12-31
Nevada                266.33    1235  226.59   1431     NaN     78  2014-12-31
New Hampshire         353.87     599  289.07    658     NaN     51  2014-12-31
New Jersey            345.36    3056  286.58   4190     NaN    256  2014-12-31
New Mexico            289.20     798  219.50    664     NaN     68  2014-12-31
New York              343.89    7831  263.71   8703     NaN    616  2014-12-31
North Carolina        345.28    4108  245.87   3030     NaN    314  2014-12-31
North Dakota          393.94     213  339.60    327     NaN     23  2014-12-31
Ohio                  332.70    4240  218.90   4264     NaN    550  2014-12-31
Oklahoma              354.61    1115  237.92   1072     NaN    195  2014-12-31
Oregon                205.80    2178  180.87   2016     NaN     95  2014-12-31
Maryland              366.04    2860  255.77   2460     NaN    193  2014-12-31
Massachusetts         345.66    3999  285.96   3781     NaN    289  2014-12-31
Michigan              288.10    3988  270.75   3725     NaN    295  2014-12-31
Minnesota             351.60    2364  272.98   2465     NaN    128  2014-12-31
Mississippi           334.70     611  150.39    549     NaN    143  2014-12-31
Missouri              351.55    2216  245.14   2111     NaN    299  2014-12-31
Pennsylvania          363.15    5516  269.63   4973     NaN    503  2014-12-31
Rhode Island          317.15     721  259.16    559     NaN     47  2014-12-31
South Carolina        336.98    1683  205.78   1412     NaN    163  2014-12-31
South Dakota          357.05     222  348.81    256     NaN     25  2014-12-31
Tennessee             348.95    2241  225.56   1910     NaN    219  2014-12-31
Texas                 334.18    8236  233.58   8573     NaN   1147  2014-12-31
Utah                  290.42     959  238.08   1055     NaN     62  2014-12-31
Vermont               371.23     357  308.86    367     NaN     32  2014-12-31
Virginia              364.98    3513  293.12   3079     NaN    284  2014-12-31
Washington            233.05    3337  189.92   3562     NaN    160  2014-12-31
West Virginia         359.35     551  224.03    545     NaN     60  2014-12-31
Wisconsin             350.52    2244  272.71   2221     NaN    167  2014-12-31
Wyoming               322.27     131  351.86    197     NaN     12  2014-12-31

[22899 rows x 7 columns]>

In [10]:
weed.tail

<bound method NDFrame.tail of                       State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN  \
0                   Alabama  339.06    1042  198.64    933  149.49    123
1                    Alaska  288.75     252  260.60    297  388.58     26
2                   Arizona  303.31    1941  209.35   1625  189.45    222
3                  Arkansas  361.85     576  185.62    544  125.87    112
4                California  248.78   12096  193.56  12812  192.92    778
5                  Colorado  236.31    2161  195.29   1728  213.50    128
6               Connecticut  347.90    1294  273.97   1316  257.36     91
7                  Delaware  373.18     347  226.25    273  199.88     34
8      District of Columbia  352.26     433  295.67    349  213.72     39
9                   Florida  306.43    6506  220.03   5237  158.26    514
10                  Georgia  332.21    3099  213.52   2269  153.45    229
11                   Hawaii  310.96     328  270.38    350  160.46     25
12                    Idaho  276.05     315  254.96    445  132.61     20
13                 Illinois  359.74    4008  287.23   3644  181.25    329
14                  Indiana  336.80    1665  206.24   1446  154.05    248
15                     Iowa  371.70     697  292.34    649  252.24    103
16                   Kansas  353.51     838  260.97    628  124.27    109
17                 Kentucky  337.33    1013  183.17    986  120.31    132
18                Louisiana  377.71    1071  243.26    864  153.73    224
19                    Maine  321.10     450  259.18    425  214.80     52
20                  Montana  279.73     585  257.98    258  734.65     22
21                 Nebraska  352.64     508  247.03    510  142.99     62
22                   Nevada  269.61     899  218.67    928  231.08     61
23            New Hampshire  366.47     422  289.81    441  561.05     38
24               New Jersey  354.91    2244  294.39   2799  225.62    185
25               New Mexico  293.86     565  216.55    434   63.70     42
26                 New York  351.98    5800  268.88   5824  190.38    482
27           North Carolina  355.88    2775  247.26   1911  152.09    226
28             North Dakota  412.84     137  361.95    200  269.55     13
29                     Ohio  336.63    3050  212.44   2817  168.87    399
...                     ...     ...     ...     ...    ...     ...    ...
22869              Nebraska  335.65     695  246.11    722     NaN     76
22870                Nevada  266.33    1235  226.59   1431     NaN     78
22871         New Hampshire  353.87     599  289.07    658     NaN     51
22872            New Jersey  345.36    3056  286.58   4190     NaN    256
22873            New Mexico  289.20     798  219.50    664     NaN     68
22874              New York  343.89    7831  263.71   8703     NaN    616
22875        North Carolina  345.28    4108  245.87   3030     NaN    314
22876          North Dakota  393.94     213  339.60    327     NaN     23
22877                  Ohio  332.70    4240  218.90   4264     NaN    550
22878              Oklahoma  354.61    1115  237.92   1072     NaN    195
22879                Oregon  205.80    2178  180.87   2016     NaN     95
22880              Maryland  366.04    2860  255.77   2460     NaN    193
22881         Massachusetts  345.66    3999  285.96   3781     NaN    289
22882              Michigan  288.10    3988  270.75   3725     NaN    295
22883             Minnesota  351.60    2364  272.98   2465     NaN    128
22884           Mississippi  334.70     611  150.39    549     NaN    143
22885              Missouri  351.55    2216  245.14   2111     NaN    299
22886          Pennsylvania  363.15    5516  269.63   4973     NaN    503
22887          Rhode Island  317.15     721  259.16    559     NaN     47
22888        South Carolina  336.98    1683  205.78   1412     NaN    163
22889          South Dakota  357.05     222  348.81    256     NaN     25
22890             Tennessee  348.95    2241  225.56   1910     NaN    219
22891                 Texas  334.18    8236  233.58   8573     NaN   1147
22892                  Utah  290.42     959  238.08   1055     NaN     62
22893               Vermont  371.23     357  308.86    367     NaN     32
22894              Virginia  364.98    3513  293.12   3079     NaN    284
22895            Washington  233.05    3337  189.92   3562     NaN    160
22896         West Virginia  359.35     551  224.03    545     NaN     60
22897             Wisconsin  350.52    2244  272.71   2221     NaN    167
22898               Wyoming  322.27     131  351.86    197     NaN     12

             date
0      2014-01-01
1      2014-01-01
2      2014-01-01
3      2014-01-01
4      2014-01-01
5      2014-01-01
6      2014-01-01
7      2014-01-01
8      2014-01-01
9      2014-01-01
10     2014-01-01
11     2014-01-01
12     2014-01-01
13     2014-01-01
14     2014-01-01
15     2014-01-01
16     2014-01-01
17     2014-01-01
18     2014-01-01
19     2014-01-01
20     2014-01-01
21     2014-01-01
22     2014-01-01
23     2014-01-01
24     2014-01-01
25     2014-01-01
26     2014-01-01
27     2014-01-01
28     2014-01-01
29     2014-01-01
...           ...
22869  2014-12-31
22870  2014-12-31
22871  2014-12-31
22872  2014-12-31
22873  2014-12-31
22874  2014-12-31
22875  2014-12-31
22876  2014-12-31
22877  2014-12-31
22878  2014-12-31
22879  2014-12-31
22880  2014-12-31
22881  2014-12-31
22882  2014-12-31
22883  2014-12-31
22884  2014-12-31
22885  2014-12-31
22886  2014-12-31
22887  2014-12-31
22888  2014-12-31
22889  2014-12-31
22890  2014-12-31
22891  2014-12-31
22892  2014-12-31
22893  2014-12-31
22894  2014-12-31
22895  2014-12-31
22896  2014-12-31
22897  2014-12-31
22898  2014-12-31

[22899 rows x 8 columns]>

In [15]:
weed.columns

Index(['HighQ', 'HighQN', 'MedQ', 'MedQN', 'LowQ', 'LowQN', 'date'], dtype='object')

In [17]:
weed.dtypes

HighQ     float64
HighQN      int64
MedQ      float64
MedQN       int64
LowQ      float64
LowQN       int64
date       object
dtype: object

In [18]:
weed.tail()

                HighQ  HighQN    MedQ  MedQN  LowQ  LowQN        date
State
Virginia       364.98    3513  293.12   3079   NaN    284  2014-12-31
Washington     233.05    3337  189.92   3562   NaN    160  2014-12-31
West Virginia  359.35     551  224.03    545   NaN     60  2014-12-31
Wisconsin      350.52    2244  272.71   2221   NaN    167  2014-12-31
Wyoming        322.27     131  351.86    197   NaN     12  2014-12-31

In [19]:
weed.head()

             HighQ  HighQN    MedQ  MedQN    LowQ  LowQN        date
State
Alabama     339.06    1042  198.64    933  149.49    123  2014-01-01
Alaska      288.75     252  260.60    297  388.58     26  2014-01-01
Arizona     303.31    1941  209.35   1625  189.45    222  2014-01-01
Arkansas    361.85     576  185.62    544  125.87    112  2014-01-01
California  248.78   12096  193.56  12812  192.92    778  2014-01-01

In [21]:
weed.dtypes

HighQ     float64
HighQN      int64
MedQ      float64
MedQN       int64
LowQ      float64
LowQN       int64
date       object
dtype: object

In [22]:
## we have a date issue above

In [35]:
weed = pd.read_csv("data/Weed_Price.csv", parse_dates=[-1])
## getting an error here, correct it later

In [29]:
weed.rename(columns={'HighQN': 'PeoplBoughtHighQuality'})

,HighQ,PeoplBoughtHighQuality,MedQ,MedQN,LowQ,LowQN,date
State,,,,,,,
Alabama,339.06,1042,198.64,933,149.49,123,2014-01-01
Alaska,288.75,252,260.60,297,388.58,26,2014-01-01
Arizona,303.31,1941,209.35,1625,189.45,222,2014-01-01
Arkansas,361.85,576,185.62,544,125.87,112,2014-01-01
California,248.78,12096,193.56,12812,192.92,778,2014-01-01
Colorado,236.31,2161,195.29,1728,213.50,128,2014-01-01
Connecticut,347.90,1294,273.97,1316,257.36,91,2014-01-01
Delaware,373.18,347,226.25,273,199.88,34,2014-01-01
District of Columbia,352.26,433,295.67,349,213.72,39,2014-01-01
Florida,306.43,6506,220.03,5237,158.26,514,2014-01-01
Georgia,332.21,3099,213.52,2269,153.45,229,2014-01-01
Hawaii,310.96,328,270.38,350,160.46,25,2014-01-01
Idaho,276.05,315,254.96,445,132.61,20,2014-01-01
Illinois,359.74,4008,287.23,3644,181.25,329,2014-01-01
Indiana,336.80,1665,206.24,1446,154.05,248,2014-01-01
Iowa,371.70,697,292.34,649,252.24,103,2014-01-01
Kansas,353.51,838,260.97,628,124.27,109,2014-01-01
Kentucky,337.33,1013,183.17,986,120.31,132,2014-01-01
Louisiana,377.71,1071,243.26,864,153.73,224,2014-01-01
Maine,321.10,450,259.18,425,214.80,52,2014-01-01
Montana,279.73,585,257.98,258,734.65,22,2014-01-01
Nebraska,352.64,508,247.03,510,142.99,62,2014-01-01
Nevada,269.61,899,218.67,928,231.08,61,2014-01-01
New Hampshire,366.47,422,289.81,441,561.05,38,2014-01-01
New Jersey,354.91,2244,294.39,2799,225.62,185,2014-01-01
New Mexico,293.86,565,216.55,434,63.70,42,2014-01-01
New York,351.98,5800,268.88,5824,190.38,482,2014-01-01
North Carolina,355.88,2775,247.26,1911,152.09,226,2014-01-01
North Dakota,412.84,137,361.95,200,269.55,13,2014-01-01
Ohio,336.63,3050,212.44,2817,168.87,399,2014-01-01
...,...,...,...,...,...,...,...
Nebraska,335.65,695,246.11,722,NaN,76,2014-12-31
Nevada,266.33,1235,226.59,1431,NaN,78,2014-12-31
New Hampshire,353.87,599,289.07,658,NaN,51,2014-12-31
New Jersey,345.36,3056,286.58,4190,NaN,256,2014-12-31
New Mexico,289.20,798,219.50,664,NaN,68,2014-12-31
New York,343.89,7831,263.71,8703,NaN,616,2014-12-31
North Carolina,345.28,4108,245.87,3030,NaN,314,2014-12-31
North Dakota,393.94,213,339.60,327,NaN,23,2014-12-31
Ohio,332.70,4240,218.90,4264,NaN,550,2014-12-31
Oklahoma,354.61,1115,237.92,1072,NaN,195,2014-12-31
Oregon,205.80,2178,180.87,2016,NaN,95,2014-12-31
Maryland,366.04,2860,255.77,2460,NaN,193,2014-12-31
Massachusetts,345.66,3999,285.96,3781,NaN,289,2014-12-31
Michigan,288.10,3988,270.75,3725,NaN,295,2014-12-31
Minnesota,351.60,2364,272.98,2465,NaN,128,2014-12-31
Mississippi,334.70,611,150.39,549,NaN,143,2014-12-31
Missouri,351.55,2216,245.14,2111,NaN,299,2014-12-31
Pennsylvania,363.15,5516,269.63,4973,NaN,503,2014-12-31
Rhode Island,317.15,721,259.16,559,NaN,47,2014-12-31
South Carolina,336.98,1683,205.78,1412,NaN,163,2014-12-31
South Dakota,357.05,222,348.81,256,NaN,25,2014-12-31
Tennessee,348.95,2241,225.56,1910,NaN,219,2014-12-31
Texas,334.18,8236,233.58,8573,NaN,1147,2014-12-31
Utah,290.42,959,238.08,1055,NaN,62,2014-12-31
Vermont,371.23,357,308.86,367,NaN,32,2014-12-31
Virginia,364.98,3513,293.12,3079,NaN,284,2014-12-31
Washington,233.05,3337,189.92,3562,NaN,160,2014-12-31
West Virginia,359.35,551,224.03,545,NaN,60,2014-12-31
Wisconsin,350.52,2244,272.71,2221,NaN,167,2014-12-31
Wyoming,322.27,131,351.86,197,NaN,12,2014-12-31

In [30]:
weed.head()

             HighQ  HighQN    MedQ  MedQN    LowQ  LowQN        date
State
Alabama     339.06    1042  198.64    933  149.49    123  2014-01-01
Alaska      288.75     252  260.60    297  388.58     26  2014-01-01
Arizona     303.31    1941  209.35   1625  189.45    222  2014-01-01
Arkansas    361.85     576  185.62    544  125.87    112  2014-01-01
California  248.78   12096  193.56  12812  192.92    778  2014-01-01

In [31]:
## sub-select rows

In [32]:
weed[15:20]

            HighQ  HighQN    MedQ  MedQN    LowQ  LowQN        date
State
Iowa       371.70     697  292.34    649  252.24    103  2014-01-01
Kansas     353.51     838  260.97    628  124.27    109  2014-01-01
Kentucky   337.33    1013  183.17    986  120.31    132  2014-01-01
Louisiana  377.71    1071  243.26    864  153.73    224  2014-01-01
Maine      321.10     450  259.18    425  214.80     52  2014-01-01

In [33]:
weed[['State', 'HighQ']]

KeyError: "['State'] not in index"

In [36]:
weed.dtypes

State             object
HighQ            float64
HighQN             int64
MedQ             float64
MedQN              int64
LowQ             float64
LowQN              int64
date      datetime64[ns]
dtype: object

In [37]:
weed.loc[15:20 ,['State, 'date']]

SyntaxError: invalid syntax (<ipython-input-37-68d5ead1105b>, line 1)

In [39]:
weed.State

0                     Alabama
1                      Alaska
2                     Arizona
3                    Arkansas
4                  California
5                    Colorado
6                 Connecticut
7                    Delaware
8        District of Columbia
9                     Florida
10                    Georgia
11                     Hawaii
12                      Idaho
13                   Illinois
14                    Indiana
15                       Iowa
16                     Kansas
17                   Kentucky
18                  Louisiana
19                      Maine
20                    Montana
21                   Nebraska
22                     Nevada
23              New Hampshire
24                 New Jersey
25                 New Mexico
26                   New York
27             North Carolina
28               North Dakota
29                       Ohio
                 ...
22869                Nebraska
22870                  Nevada
22871           New Hampshire
22872              New Jersey
22873              New Mexico
22874                New York
22875          North Carolina
22876            North Dakota
22877                    Ohio
22878                Oklahoma
22879                  Oregon
22880                Maryland
22881           Massachusetts
22882                Michigan
22883               Minnesota
22884             Mississippi
22885                Missouri
22886            Pennsylvania
22887            Rhode Island
22888          South Carolina
22889            South Dakota
22890               Tennessee
22891                   Texas
22892                    Utah
22893                 Vermont
22894                Virginia
22895              Washington
22896           West Virginia
22897               Wisconsin
22898                 Wyoming
Name: State, dtype: object

In [40]:
## now get to know only the unique ones

In [42]:
weed.State.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

In [44]:
weed.loc[10:15]

       State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
10   Georgia  332.21    3099  213.52   2269  153.45    229 2014-01-01
11    Hawaii  310.96     328  270.38    350  160.46     25 2014-01-01
12     Idaho  276.05     315  254.96    445  132.61     20 2014-01-01
13  Illinois  359.74    4008  287.23   3644  181.25    329 2014-01-01
14   Indiana  336.80    1665  206.24   1446  154.05    248 2014-01-01
15      Iowa  371.70     697  292.34    649  252.24    103 2014-01-01

In [45]:
weed_new = weed.copy()

In [47]:
weed_new.shape

(22899, 8)

In [48]:
weed_new[10:15]

       State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
10   Georgia  332.21    3099  213.52   2269  153.45    229 2014-01-01
11    Hawaii  310.96     328  270.38    350  160.46     25 2014-01-01
12     Idaho  276.05     315  254.96    445  132.61     20 2014-01-01
13  Illinois  359.74    4008  287.23   3644  181.25    329 2014-01-01
14   Indiana  336.80    1665  206.24   1446  154.05    248 2014-01-01

In [49]:
weed_new.loc[10:15]

       State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
10   Georgia  332.21    3099  213.52   2269  153.45    229 2014-01-01
11    Hawaii  310.96     328  270.38    350  160.46     25 2014-01-01
12     Idaho  276.05     315  254.96    445  132.61     20 2014-01-01
13  Illinois  359.74    4008  287.23   3644  181.25    329 2014-01-01
14   Indiana  336.80    1665  206.24   1446  154.05    248 2014-01-01
15      Iowa  371.70     697  292.34    649  252.24    103 2014-01-01

In [52]:
weed_new.count()

State     22899
HighQ     22899
HighQN    22899
MedQ      22899
MedQN     22899
LowQ      12342
LowQN     22899
date      22899
dtype: int64

In [53]:
weed_new.LowQ

0        149.49
1        388.58
2        189.45
3        125.87
4        192.92
5        213.50
6        257.36
7        199.88
8        213.72
9        158.26
10       153.45
11       160.46
12       132.61
13       181.25
14       154.05
15       252.24
16       124.27
17       120.31
18       153.73
19       214.80
20       734.65
21       142.99
22       231.08
23       561.05
24       225.62
25        63.70
26       190.38
27       152.09
28       269.55
29       168.87
          ...
22869       NaN
22870       NaN
22871       NaN
22872       NaN
22873       NaN
22874       NaN
22875       NaN
22876       NaN
22877       NaN
22878       NaN
22879       NaN
22880       NaN
22881       NaN
22882       NaN
22883       NaN
22884       NaN
22885       NaN
22886       NaN
22887       NaN
22888       NaN
22889       NaN
22890       NaN
22891       NaN
22892       NaN
22893       NaN
22894       NaN
22895       NaN
22896       NaN
22897       NaN
22898       NaN
Name: LowQ, dtype: float64

In [55]:
weed_new[weed_new.LowQ.isnull()]

,State,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,date
51,Alabama,337.54,1539,208.24,1463,NaN,182,2015-01-01
52,Alaska,303.02,350,270.45,475,NaN,37,2015-01-01
53,Arizona,298.51,2638,209.43,2426,NaN,306,2015-01-01
54,Arkansas,341.68,846,207.20,836,NaN,145,2015-01-01
55,California,243.96,16512,189.35,19151,NaN,1096,2015-01-01
56,Colorado,243.72,3148,195.11,2877,NaN,178,2015-01-01
57,Connecticut,337.26,1835,267.99,2069,NaN,126,2015-01-01
58,Delaware,364.19,490,234.72,431,NaN,41,2015-01-01
59,District of Columbia,348.66,657,281.93,578,NaN,49,2015-01-01
60,Florida,300.88,9369,217.05,8166,NaN,695,2015-01-01
61,Georgia,324.30,4422,217.17,3467,NaN,303,2015-01-01
62,Hawaii,307.64,452,263.45,522,NaN,30,2015-01-01
63,Idaho,275.37,450,245.14,672,NaN,35,2015-01-01
64,Illinois,353.97,5623,282.59,5525,NaN,451,2015-01-01
65,Indiana,332.48,2385,214.43,2247,NaN,326,2015-01-01
66,Iowa,364.92,975,289.05,1045,NaN,122,2015-01-01
67,Kansas,350.24,1160,260.70,999,NaN,138,2015-01-01
68,Kentucky,338.76,1491,173.90,1506,NaN,180,2015-01-01
69,Louisiana,361.51,1521,240.78,1350,NaN,317,2015-01-01
70,Maine,312.30,620,234.89,657,NaN,61,2015-01-01
71,Montana,265.51,738,241.42,364,NaN,32,2015-01-01
72,Nebraska,335.65,695,246.33,723,NaN,76,2015-01-01
73,Nevada,266.14,1237,226.59,1431,NaN,78,2015-01-01
74,New Hampshire,353.87,599,289.07,658,NaN,51,2015-01-01
75,New Jersey,345.31,3058,286.53,4197,NaN,256,2015-01-01
76,New Mexico,289.04,800,219.28,665,NaN,68,2015-01-01
77,New York,343.80,7840,263.56,8716,NaN,616,2015-01-01
78,North Carolina,345.24,4111,245.87,3030,NaN,314,2015-01-01
79,North Dakota,393.94,213,339.60,327,NaN,23,2015-01-01
80,Ohio,332.59,4242,218.93,4269,NaN,550,2015-01-01
...,...,...,...,...,...,...,...,...
22869,Nebraska,335.65,695,246.11,722,NaN,76,2014-12-31
22870,Nevada,266.33,1235,226.59,1431,NaN,78,2014-12-31
22871,New Hampshire,353.87,599,289.07,658,NaN,51,2014-12-31
22872,New Jersey,345.36,3056,286.58,4190,NaN,256,2014-12-31
22873,New Mexico,289.20,798,219.50,664,NaN,68,2014-12-31
22874,New York,343.89,7831,263.71,8703,NaN,616,2014-12-31
22875,North Carolina,345.28,4108,245.87,3030,NaN,314,2014-12-31
22876,North Dakota,393.94,213,339.60,327,NaN,23,2014-12-31
22877,Ohio,332.70,4240,218.90,4264,NaN,550,2014-12-31
22878,Oklahoma,354.61,1115,237.92,1072,NaN,195,2014-12-31
22879,Oregon,205.80,2178,180.87,2016,NaN,95,2014-12-31
22880,Maryland,366.04,2860,255.77,2460,NaN,193,2014-12-31
22881,Massachusetts,345.66,3999,285.96,3781,NaN,289,2014-12-31
22882,Michigan,288.10,3988,270.75,3725,NaN,295,2014-12-31
22883,Minnesota,351.60,2364,272.98,2465,NaN,128,2014-12-31
22884,Mississippi,334.70,611,150.39,549,NaN,143,2014-12-31
22885,Missouri,351.55,2216,245.14,2111,NaN,299,2014-12-31
22886,Pennsylvania,363.15,5516,269.63,4973,NaN,503,2014-12-31
22887,Rhode Island,317.15,721,259.16,559,NaN,47,2014-12-31
22888,South Carolina,336.98,1683,205.78,1412,NaN,163,2014-12-31
22889,South Dakota,357.05,222,348.81,256,NaN,25,2014-12-31
22890,Tennessee,348.95,2241,225.56,1910,NaN,219,2014-12-31
22891,Texas,334.18,8236,233.58,8573,NaN,1147,2014-12-31
22892,Utah,290.42,959,238.08,1055,NaN,62,2014-12-31
22893,Vermont,371.23,357,308.86,367,NaN,32,2014-12-31
22894,Virginia,364.98,3513,293.12,3079,NaN,284,2014-12-31
22895,Washington,233.05,3337,189.92,3562,NaN,160,2014-12-31
22896,West Virginia,359.35,551,224.03,545,NaN,60,2014-12-31
22897,Wisconsin,350.52,2244,272.71,2221,NaN,167,2014-12-31
22898,Wyoming,322.27,131,351.86,197,NaN,12,2014-12-31

In [56]:
## how to replace the missing data here! Like the date's missing here.

In [57]:
weed.sort(columns=["State, "date")

SyntaxError: invalid syntax (<ipython-input-57-26b9d50eb171>, line 1)

In [61]:
weed_new.State.value_counts().unique()

array([449])

In [62]:
weed_ca = weed_new[weed_new.State=="California"]

In [63]:
weed_ca

            State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
4      California  248.78   12096  193.56  12812  192.92    778 2014-01-01
55     California  243.96   16512  189.35  19151     NaN   1096 2015-01-01
106    California  248.20   12571  192.80  13406  191.94    804 2014-02-01
157    California  243.30   16904  188.95  19764     NaN   1123 2015-02-01
208    California  247.60   12988  192.97  13906  191.40    839 2014-03-01
259    California  246.76   13396  192.91  14527  191.98    863 2014-04-01
310    California  246.04   13787  191.89  15047  191.40    891 2014-05-01
361    California  245.71   14178  192.27  15588  190.06    930 2014-06-01
412    California  241.92   18468  187.87  22012     NaN   1231 2015-06-01
463    California  245.39   14539  191.94  16092  188.57    949 2014-07-01
514    California  245.36   14948  191.58  16665  188.03    976 2014-08-01
565    California  245.11   15238  191.35  17060     NaN    995 2014-09-01
616    California  245.05   15419  190.91  17373     NaN   1001 2014-10-01
667    California  245.09   15688  191.04  17780     NaN   1023 2014-11-01
718    California  244.36   16127  190.25  18472     NaN   1061 2014-12-01
769    California  248.67   12125  193.56  12836  192.80    779 2014-01-02
820    California  243.95   16517  189.34  19160     NaN   1096 2015-01-02
871    California  248.21   12580  192.73  13424  191.70    805 2014-02-02
922    California  243.29   16916  188.94  19780     NaN   1123 2015-02-02
973    California  247.57   12999  193.02  13926  192.20    841 2014-03-02
1024   California  246.72   13413  192.95  14541  191.96    864 2014-04-02
1075   California  246.06   13803  191.86  15059  191.24    892 2014-05-02
1126   California  245.77   14190  192.22  15608  190.06    930 2014-06-02
1177   California  241.92   18468  187.87  22013     NaN   1231 2015-06-02
1228   California  245.38   14558  192.02  16109  188.57    949 2014-07-02
1279   California  245.09   15245  191.34  17065     NaN    995 2014-09-02
1330   California  245.01   15433  190.92  17380     NaN   1002 2014-10-02
1381   California  245.11   15709  190.96  17796     NaN   1026 2014-11-02
1432   California  244.36   16133  190.24  18498     NaN   1063 2014-12-02
1483   California  248.67   12141  193.57  12853  192.67    782 2014-01-03
...           ...     ...     ...     ...    ...     ...    ...        ...
21373  California  245.11   15218  191.39  17028     NaN    995 2014-08-29
21424  California  245.00   15402  191.03  17343     NaN   1001 2014-09-29
21475  California  245.08   15643  190.98  17718     NaN   1014 2014-10-29
21526  California  244.48   16090  190.26  18435     NaN   1060 2014-11-29
21577  California  248.76   12047  193.55  12760  193.60    772 2013-12-29
21628  California  244.00   16484  189.41  19107     NaN   1093 2014-12-29
21679  California  248.28   12544  192.86  13374  192.01    803 2014-01-30
21730  California  243.28   16882  188.96  19735     NaN   1121 2015-01-30
21781  California  246.83   13371  193.02  14480  192.06    862 2014-03-30
21832  California  246.05   13770  191.90  15029  191.55    890 2014-04-30
21883  California  245.66   14146  192.25  15544  190.34    926 2014-05-30
21934  California  241.91   18466  187.88  22009     NaN   1231 2015-05-30
21985  California  245.40   14525  191.95  16073  188.57    949 2014-06-30
22036  California  245.37   14926  191.57  16621  188.12    975 2014-07-30
22087  California  245.12   15224  191.38  17038     NaN    995 2014-08-30
22138  California  245.01   15410  190.98  17357     NaN   1001 2014-09-30
22189  California  245.09   15659  191.01  17738     NaN   1021 2014-10-30
22240  California  244.43   16102  190.26  18452     NaN   1061 2014-11-30
22291  California  248.82   12065  193.54  12779  193.80    773 2013-12-30
22342  California  243.98   16492  189.37  19124     NaN   1093 2014-12-30
22393  California  248.23   12559  192.82  13391  191.94    804 2014-01-31
22444  California  243.27   16896  188.94  19752     NaN   1122 2015-01-31
22495  California  246.83   13383  193.01  14501  191.98    863 2014-03-31
22546  California  245.68   14157  192.26  15561  190.01    929 2014-05-31
22597  California  241.91   18466  187.87  22012     NaN   1231 2015-05-31
22648  California  245.39   14928  191.61  16635  188.12    975 2014-07-31
22699  California  245.11   15234  191.36  17049     NaN    995 2014-08-31
22750  California  245.13   15667  191.03  17758     NaN   1023 2014-10-31
22801  California  248.76   12082  193.54  12792  193.80    773 2013-12-31
22852  California  243.96   16501  189.38  19140     NaN   1094 2014-12-31

[449 rows x 8 columns]

In [64]:
print(weed_ca.date.min(), weed_ca.date.max())

2013-12-27 00:00:00 2015-06-11 00:00:00

In [65]:
weed_ca.date.value_counts

<bound method IndexOpsMixin.value_counts of 4       2014-01-01
55      2015-01-01
106     2014-02-01
157     2015-02-01
208     2014-03-01
259     2014-04-01
310     2014-05-01
361     2014-06-01
412     2015-06-01
463     2014-07-01
514     2014-08-01
565     2014-09-01
616     2014-10-01
667     2014-11-01
718     2014-12-01
769     2014-01-02
820     2015-01-02
871     2014-02-02
922     2015-02-02
973     2014-03-02
1024    2014-04-02
1075    2014-05-02
1126    2014-06-02
1177    2015-06-02
1228    2014-07-02
1279    2014-09-02
1330    2014-10-02
1381    2014-11-02
1432    2014-12-02
1483    2014-01-03
           ...
21373   2014-08-29
21424   2014-09-29
21475   2014-10-29
21526   2014-11-29
21577   2013-12-29
21628   2014-12-29
21679   2014-01-30
21730   2015-01-30
21781   2014-03-30
21832   2014-04-30
21883   2014-05-30
21934   2015-05-30
21985   2014-06-30
22036   2014-07-30
22087   2014-08-30
22138   2014-09-30
22189   2014-10-30
22240   2014-11-30
22291   2013-12-30
22342   2014-12-30
22393   2014-01-31
22444   2015-01-31
22495   2014-03-31
22546   2014-05-31
22597   2015-05-31
22648   2014-07-31
22699   2014-08-31
22750   2014-10-31
22801   2013-12-31
22852   2014-12-31
Name: date, dtype: datetime64[ns]>